/* src/Navbar.css */
/* Styling for the Navbar component */

.navbar {
   display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgb(4,4,35);
  color: white;
  font-family: 'Nova Square', sans-serif;
  box-shadow: 0 0 10px 1px rgba(255, 223, 88, 0.8);
  position: sticky;
  top: 0;
  z-index: 10000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}



.nav-links {
  list-style: none;
  display: flex;
  gap: 3rem;
  cursor: pointer;
}

.nav-links li {
  margin: 0;
  
  
}

.nav-links a {
  text-decoration: none;
  color: white;
  
}

/* Hover effect */
.nav-links a:hover {
  color: transparent;
  background-clip: text; /* Clip the background to the text */
  background-image: linear-gradient(to right, rgb(241, 75, 103), lightblue);
  transition: color 0.3s ease-in-out;
  
}


/* Responsive styles */

@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .navbar{
    width: 120%;
  }
  


  
}


@media screen and (max-width: 768px) {

  .navbar {
    width: 245%;
    display:block;  
  }

  
  div.bar{
    background: white;
    
  }
  .hamburger {
    display:block;
    
    
    
  }
  

  .nav-links {
     display: none;/* Hide by default on smaller screens */
    flex-direction: column;
    padding: 5%;
    
    
  }

  .nav-links.open {
    display: flex;
    
  }

  .nav-links a {
    padding: 1rem;
    text-align: center;
    /* border-bottom: 1px solid #555; */
    
  }
}
